/*....................................SCSS VARIABLES..................................*/
/*....................................................................................*/
/*.................................................................................*/
/*$break-large-desktop: 2500px;*/
/*$break-infinite: 500000px;*/
/*....................................SCSS MIXINS..................................*/
/*....................................General settings..................................*/
/*.....................TEXT MARK STYLES......................*/
::-moz-selection {
  background: transparent;
  text-shadow: none; }

::selection {
  background: transparent;
  text-shadow: none; }

/*.....................ACTIVE CLASSES......................*/
.active {
  opacity: 1; }

.blacked_text {
  color: #FFFFFF; }

.blacked_path {
  fill: #FFFFFF; }

.blacked_background {
  background-color: #000000; }

/*....................HIDING SCROLLBAR.....................*/
::-webkit-scrollbar {
  display: none; }

* {
  -webkit-overflow-scrolling: touch; }

*, *:before, *:after {
  box-sizing: inherit;
  outline: 0; }

/*.....................GENERAL STYLES......................*/
html {
  font-family: helvetica;
  width: 100%;
  margin: 0, 0;
  padding: 0, 0;
  box-sizing: border-box;
  background-color: transparent; }

body {
  width: 100vw;
  height: auto;
  margin: 0, 0;
  padding: 0, 0;
  display: block;
  position: relative;
  background: #FFFFFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400; }

p, a, li {
  font-size: 10px;
  list-style-type: none;
  letter-spacing: 1px;
  color: #000000; }

input, textarea, select, a, li {
  text-decoration: none; }

a {
  cursor: pointer;
  font-size: 10px;
  line-height: 26px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  /*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    a {
      font-size: 12px;
      line-height: 17px; } }

.a-hover {
  color: #000000;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease; }
  .a-hover:hover {
    color: #F5F5F5;
    /*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/
    /*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/
    /*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/ }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      .a-hover:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      .a-hover:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      .a-hover:hover {
        color: #000000 !important; } }

p {
  font-size: 10px;
  line-height: 26px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  /*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    p {
      font-size: 12px;
      line-height: 17px; } }

h1 {
  font-size: 30px;
  line-height: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2px;
  /*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    h1 {
      font-size: 25px; } }

h2 {
  font-size: 22px;
  line-height: 36px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0px;
  /*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    h2 {
      font-size: 20px;
      line-height: 36px; } }

.pop {
  position: fixed;
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 14;
  border-top: 1px solid black;
  background: rgba(255, 255, 255, 0.2); }

/*.........................MAIN............................*/
table {
  width: 100vw;
  height: 100vh; }
  table tr td {
    vertical-align: middle; }

.home-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw; }
  .home-wrap .video-container {
    width: 60%; }
  .home-wrap .videoWrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
  .home-wrap .videoWrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .home-wrap .holding-img {
    width: 100%; }
    .home-wrap .holding-img img {
      width: 100%; }

@media screen and (max-width: 767px) {
  .home-wrap {
    padding: 5em;
    height: 70vh;
    min-height: auto; }
    .home-wrap .video-container {
      width: 100vw; }
      .home-wrap .video-container .videoWrap {
        width: 100vw; } }
